{% extends 'head.html' %}

{% block content %}

    <div class="main">
        <div class="container desc-line faq">
            <ul>
                <li>Добавлять тесты могут только администраторы</li>
                Попросите администратора предоставить вам права для добавления новых тестов
            </ul>
            <ul>
                <li>Для регистрации заполните форму и нажмите кнопку зарегестрироваться</li>
                <li>Вы будуте перенаправленны на форму для входа</li>
                <li>Профиль пользователя не будет доступен, пока вы не заполните информацию о себе</li>
                <li>Поcле активации профиля вы можете отслеживать в нём результаты пройденных тестов</li>
                <li>Для того, чтоюы посомтреть результаты, выберите тест, который вас интересует</li>
            </ul>
            <ul>
                <li>Если вы забыли свой пароль попросите администратора, чтобы он помог вам его восстановить</li>
            </ul>
        </div>
    </div>

{% endblock %}
